* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
# Binary files tracked as git files
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.png !text !filter !merge !diff
*.svg !text !filter !merge !diff
